<div *ngFor="let field of fields">

  <div *ngIf="isVisible(field)">

    <label>{{ field.label }}</label>

    <!-- TEXT -->
    <input
      *ngIf="field.type === 'text'"
      type="text"
      (input)="updateValue(field.name, $any($event.target).value)"
    />

    <!-- SELECT -->
    <select
      *ngIf="field.type === 'select'"
      (change)="updateValue(field.name, $any($event.target).value)"
    >
      <option *ngFor="let opt of field.options" [value]="opt.value">
        {{ opt.label }}
      </option>
    </select>

  </div>

</div>
